<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wfm.platform.dao.SysOrgMapper">
    <resultMap id="BaseResultMap" type="com.wfm.platform.entities.SysOrg">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="VARCHAR"/>
        <result column="org_name" property="orgName" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="comment" property="comment" jdbcType="VARCHAR"/>
        <result column="order_num" property="orderNum" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, parent_id, org_name, code, comment, order_num, create_time, create_by,
    update_time, update_by, del_flag
    </sql>

    <!--获取所有父节点-->
    <select id="findAllParents" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_org
        where parent_id = 0
    </select>
    <!--根据父节点Id获取子节点-->
    <select id="findChildrenByParentId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from sys_org
        where parent_id = #{parentId,jdbcType=VARCHAR}
    </select>

    <select id="get" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from sys_org
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="remove" parameterType="java.lang.String">
        delete from sys_org
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="create" parameterType="com.wfm.platform.entities.SysOrg">
        insert into sys_org (id, parent_id, org_name,
          code, comment, order_num,
          create_time, create_by,
          update_time, update_by,
          del_flag)
        values (#{id,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR},
          #{code,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, #{orderNum,jdbcType=INTEGER},
          #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR},
          #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR},
          #{delFlag,jdbcType=TINYINT})
    </insert>
    <update id="update" parameterType="com.wfm.platform.entities.SysOrg">
        update sys_org
        set parent_id = #{parentId,jdbcType=VARCHAR},
          org_name = #{orgName,jdbcType=VARCHAR},
          code = #{code,jdbcType=VARCHAR},
          comment = #{comment,jdbcType=VARCHAR},
          order_num = #{orderNum,jdbcType=INTEGER},
          create_time = #{createTime,jdbcType=TIMESTAMP},
          create_by = #{createBy,jdbcType=VARCHAR},
          update_time = #{updateTime,jdbcType=TIMESTAMP},
          update_by = #{updateBy,jdbcType=VARCHAR},
          del_flag = #{delFlag,jdbcType=TINYINT}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <!-- 分页查询 -->
    <select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_org
        <where>
            <if test="whereSql!=null">
                ${whereSql}
            </if>
            and del_flag = 2
        </where>
        <if test="orderBySql!=null">
            order by ${orderBySql}
        </if>
    </select>
</mapper>